In [1]:

from geopy import distance
import requests
import pandas as pd
import csv
f1 = pd.read_csv('C:/Users/ECESIS/Desktop/miles/tax1.csv')
f2 = pd.read_csv('C:/Users/ECESIS/Desktop/miles/comp_dummy.csv')

In [2]:
matching_county = (f2[f2.county.isin(f1.county)])
#print(matching_county)

In [3]:
order = matching_county.reset_index(drop=True)
#print(order)

In [6]:
tax = f1.GLA
tax1 = int(tax)

#print((tax1))
type(tax1)
df = order.astype({'GLA':'int'})
#print(df)
#print(df.dtypes)
#type(df)

In [8]:
if (1000 <tax1 <=1500) :
    
   
    GLA = (df[(df['GLA'] >1200)  & (df['GLA'] <= 1400)]) 
    #print(GLA)
    order_GLA = GLA.reset_index(drop=True)
    print(order_GLA)
else:
    print("none")

  City name State Zip code   List Date Original List Price  \
0  SANFORD,    FL    32773  07/08/2022           $325,000
1  SANFORD,    FL    32773  02/24/2022           $299,900
2  SANFORD,    FL    32773  05/08/2022           $335,550

   Current list price Closing Date sold price #Sale Terms   GLA  ...  #Bath  \
0           $325,000    07/29/2022  $296,450        Cash,  1292  ...      2
1           $299,900    04/06/2022  $300,000        Cash,  1292  ...      2
2           $335,550    06/03/2022  $345,000        Cash,  1376  ...      2

  Half bath  Garage       MLS    county  Sun division Status Pool  \
0         0       2  V4925413  Seminole      Seminole   Sold   no
1         0       2  O6006206  Seminole      Seminole   Sold   no
2         0       2  O6023893  Seminole      Seminole   Sold   no

              Type                                        Address
0  Single F amily   355 PLACID LAKE DRIVE, SANFORD, Florida 32773
1  Single F amily   359 PLACID LAKE DRIVE, SANFORD, Florida 32773
2  Single F amily   131 EDGEW ATER CIRCLE, SANFORD, Florida 32773

[3 rows x 24 columns]

In [10]:
df_1 = order_GLA.astype({' Year_ Built':'int'})
yr_built = f1. Year_Built
year__built = int(yr_built)

print((year__built))
type(year__built)
if (1990 <year__built <=2000) :    
    YB = (df_1[(df_1[' Year_ Built'] >1990)  & (df_1[' Year_ Built'] <= 2000)]) 
    print(YB)
else:
    print("none")

1997
  City name State Zip code   List Date Original List Price  \
0  SANFORD,    FL    32773  07/08/2022           $325,000
1  SANFORD,    FL    32773  02/24/2022           $299,900
2  SANFORD,    FL    32773  05/08/2022           $335,550

   Current list price Closing Date sold price #Sale Terms   GLA  ...  #Bath  \
0           $325,000    07/29/2022  $296,450        Cash,  1292  ...      2
1           $299,900    04/06/2022  $300,000        Cash,  1292  ...      2
2           $335,550    06/03/2022  $345,000        Cash,  1376  ...      2

  Half bath  Garage       MLS    county  Sun division Status Pool  \
0         0       2  V4925413  Seminole      Seminole   Sold   no
1         0       2  O6006206  Seminole      Seminole   Sold   no
2         0       2  O6023893  Seminole      Seminole   Sold   no

              Type                                        Address
0  Single F amily   355 PLACID LAKE DRIVE, SANFORD, Florida 32773
1  Single F amily   359 PLACID LAKE DRIVE, SANFORD, Florida 32773
2  Single F amily   131 EDGEW ATER CIRCLE, SANFORD, Florida 32773

[3 rows x 24 columns]

In [16]:
YB.to_csv('C:/Users/ECESIS/Desktop/comp_selectio/comp.csv')